a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
.ba-square-box{
  position: relative;
  background: grey;
  width: 80%;
  max-width: 70vh;
  margin: 20px auto;

}
.ba-square-content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 3%;
}
.ba-square-box:before{
  content: '';
  display: block;
  padding-top: 100%;
}
.row {
  height: 12.5%;
  background-color: #FFF;
}
.col {
  position: relative;
  height: 100%;
  width: 12.5%;
  float: left;
}
.row:nth-child(even) .col:nth-child(even),
.row:nth-child(odd) .col:nth-child(odd) {
  background-color: #bbb;
}
.row:nth-child(1) .col:nth-child(even):before,
.row:nth-child(3) .col:nth-child(even):before,
.row:nth-child(2) .col:nth-child(odd):before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #123456;
}
.row:nth-child(6) .col:nth-child(odd):before,
.row:nth-child(8) .col:nth-child(odd):before,
.row:nth-child(7) .col:nth-child(even):before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #654321;
}
.row:nth-child(1) .col:nth-child(even):hover:before,
.row:nth-child(3) .col:nth-child(even):hover:before,
.row:nth-child(2) .col:nth-child(odd):hover:before {
  top:0;
  border: 2px solid red;
}
.row:nth-child(6) .col:nth-child(odd):hover:before,
.row:nth-child(8) .col:nth-child(odd):hover:before,
.row:nth-child(7) .col:nth-child(even):hover:before {
  top:0;
  border: 2px solid red;
}
